{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<h1> MovieMania </h1>
<p> Welcome to MovieMania, your ultimate destination for discovering and enjoying the best kids' movies! At MovieMania, we believe in the magic of storytelling and the joy it brings to young hearts. Our mission is to create a fun, safe, and engaging platform where children and families can find a world of entertainment that is both delightful and enriching.</p>

<h3>Our Collection</h3>
<p>From timeless animated classics to the latest family-friendly releases, MovieMania offers a vast collection of movies that cater to all ages and tastes. Whether your little ones are fans of superheroes, fairy tales, adventures, or heartwarming stories, we have something special for everyone. </p>

<h3>Why Choose MovieMania?</h3>

<p>Curated Selection: Our team carefully selects movies that are not only entertaining but also carry positive messages and values.</p>
<ul>
    <li><b>Safe Environment:</b> We prioritize safety and ensure that all content is appropriate for children.</li>
    <li><b>User-Friendly:</b> Our easy-to-navigate website makes it simple for kids and parents to find and enjoy movies together. </li>
    <li><b>Family Fun:</b> We aim to bring families closer by providing endless options for movie nights and quality time.</li>
</ul>

<p>At MovieMania, we are passionate about creating a space where children can immerse themselves in the wonder of cinema. Join us on this exciting journey and explore the magical world of kids' movies!</p>
{% endblock body %}
